{%extends 'base.html'%} 
{% load static %}

{% block content %}

{% if images %}
  <div class="row">
    {% for image in images %}
    <div class="card col-md-4" style="width: 18rem;">
      <a href="{{image.image.url}}" class="image" data-type="image" data-toggle="lightbox" data-title="{{image.name}} | {{image.location}} " data-footer="{{image.description}}">
        <img src="{{image.image.url}}" class="card-img-top img-responsive" alt="Image">
    </a>
      <div class="card-body">
        <p id="url" style="visibility: hidden;">{{image}}.url</p>
        <button class="{{image.id}}.url card-text" data-clipboard-target='#url'>Copy link</button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}


{% endblock %}
