<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Photospace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin"><b>Admin | </b> &nbsp;&nbsp; </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'location' 'UK' %}">UK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'location' 'North America' %}">North America</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'location' 'South America' %}">South America</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'location' 'Africa' %}">Africa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'location' 'Australia' %}">Australia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'location' 'Asia' %}">Asia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'location' 'Antarctica' %}">Antarctica</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'location' 'Europe' %}">Europe</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="category" >
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>