{%extends 'base.html'%} 
{% block content %}
<div class="container-fluid">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2> <br>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {%extends 'base.html'%} 
    {% load static %}
    
    {% block content %}
    
    {% if images %}
      <div class="row">
        {% for image in images %}
        <div class="card col-md-4" style="width: 18rem;">
          <a href="{% url 'image' image.id %}">
            <img src="{{image.image.url}}" class="card-img-top img-responsive" alt="Image">
          </a> 
          <div class="card-body">
            <h4 class="card-text">{{image.name}}</h4>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
  </div>
</div>
{% endblock %}