{%extends 'base.html'%} 
{% block content %}
<div class="container-fluid">

  <div class="row">
    {% if images%}
      <h2 class="search">Found {{ images|length }} of searched term {{message}}</h2> <br><br>
    {% else %}
      <h2 class="search"> Found 0 images for the search term {{message}}</h2> <br><br>
    {% endif %}

  </div> <br>
    
    {% if images %}
      <div class="row">
        {% for image in images %}
        <div class="card col-md-4" style="width: 18rem;">
          <a href="{{image.image.url}}" class="image" data-type="image" data-toggle="lightbox" data-title="{{image.name}} | {{image.location}} " data-footer="{{image.description}}">
            <img src="{{image.image.url}}" class="card-img-top img-responsive" alt="Image">
        </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
</div>
{% endblock %}