html, body{
    overflow-x: hidden;
}


.jumbotron{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(0,0,0,.6);
    background-blend-mode: overlay;
    color: white;
    height: 600px;  
}